* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  padding: 10px 5px;
  background-color: rgba(68, 241, 198, 0.767);
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-property: backgroud-color;
  transition: 0.5s;
}

a:hover {
  background-color: yellow;
  transform: scale(1.1);
}

a:active {
  background-color: black;
}
